*{
    cursor: crosshair;
    overflow: hidden;
}
body{
    background: #fff;
}
#line_X,#line_Y{
    position: absolute;
    text-align: center;
}

#line_X{
    width: 100%;
    height: 1px;
    border: 1px dashed red;
    border-bottom: none;
}
#line_Y{
    height: 100%;
    width: 1px;
    border: 1px dashed blue;
    border-left: none;
}

#XYcoordinates{
    padding: 10px;
    position: absolute;
    margin: -10px -2px;
    border-radius: 10px;
}

.btn{
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    background: blue;
}
.stopDraw{
    padding: 100px;
    background-color: #27272752;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: none;
}